<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        @font-face {
            font-family: 'Segoe UI';
            src: url('fonts/SegoeUI.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Segoe UI';
            src: url('fonts/SegoeUI-Bold.ttf') format('truetype');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'Segoe UI';
            src: url('fonts/SegoeUI-Bold-Italic.ttf') format('truetype');
            font-weight: bold;
            font-style: italic;
        }

        @font-face {
            font-family: 'Segoe UI';
            src: url('fonts/SegoeUI-Italic.ttf') format('truetype');
            font-weight: normal;
            font-style: italic;
        }

        body {
            font-family: SegoeUI, sans-serif;
            font-size: 12px;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 15px;
            font-style: italic;
        }

        p {
            margin: 12px;
            padding: 0;
        }

        .container {
            /* Ipad size: 16-9 */
            width: 930px;
            padding: 10px;
            background-color: #2e6271;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            color: #ffffff;
            padding: 10px 0;
            text-align: center;
            font-size: 24px;

            display: flex;
            justify-content: center;
            gap: 50px;
            overflow: hidden;
        }

        .header>img {
            height: 80%;
            width: 15%;
            object-fit: cover;
        }

        .content {
            margin: 20px 20px;
            font-size: 12px;
            max-width: 100%;

            display: grid;
            gap: 20px 20px;
            grid-template-areas:
                "column-1 column-4 column-6"
                "column-2 column-4 column-6"
                "column-2 column-4 column-6"
                "column-2 column-5 column-6"
                "column-2 column-5 column-6"
                "column-3 column-5 column-6"
                "column-3 column-5 column-6"
                "column-3 column-5 column-6"
                "column-7 column-7 column-7"
                "column-7 column-7 column-7"
                "column-7 column-7 column-7"
                "column-7 column-7 column-7"
        }

        .column-item {
            background-color: #d5e1c9;
            width: 100%;
            padding: 5px 0px 10px 12px;
            border-radius: 15px;
        }


        .info-col {
            display: flex;
            flex-direction: column;
        }

        .info-row {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-around;
        }

        #column-1 {
            background: #f7f0cc;
            grid-area: column-1;
        }

        #column-2 {
            grid-area: column-2;
        }

        #column-3 {
            grid-area: column-3;
        }

        #column-4 {
            grid-area: column-4;
        }

        #column-5 {
            grid-area: column-5;
        }

        #column-6 {
            grid-area: column-6;
        }

        #column-7 {
            grid-area: column-7;
        }

        .box-1-header {
            font-size: 14px;
            color: gray;
            padding: 10px 5px 5px 5px;
            margin: 0;
        }

        .box-1-info {
            font-size: 12px;
            text-align: center;
            padding: 10px 5px 5px 5px;
            margin: 0;
        }

        .footer {
            text-align: center;
            color: white;
            font-size: 14px;
            margin-top: 20px;
        }

        table,
        td,
        th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 97%;
            background-color: white;
        }

        th,
        td {
            padding: 8px;
        }

        .master-chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            gap: 20px;
        }

        tr:nth-child(even) {
            background-color: #ebebeb;
        }

        .chart-container {
            width: 100px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 20px 10px;
        }

        .column-info {
            font-size: 11px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <!-- <img src="./images/zpt-white.png" alt="zpt-logo"> -->
            <h1>ONE PAGE PERFORMANCE TRACKING</h1>
        </div>
        <div class="content">
            <div class="column-item" id="column-1">
                <div class="info-row">
                    <div class="info-col">
                        <p class="box-1-header">Name</p>
                        <p class="box-1-info">{{ row.Owner_Name }}</p>
                    </div>
                    <div class="info-col">
                        <p class="box-1-header">Role</p>
                        <p class="box-1-info">{{ row.UserKey_4Map }}</p>
                    </div>
                </div>
            </div>
            <div class="column-item" id="column-2">
                <div class="master-chart-container">
                    <div class="chart-container">
                        <h2>%Achievement MTD</h2>
                        <canvas id="gaugeChartMTD"></canvas>
                    </div>
                    <div class="chart-container">
                        <h2>%Achievement QTD</h2>
                        <canvas id="gaugeChartQTD"></canvas>
                    </div>
                </div>

                <table class="column-2-table">
                    <tr>
                        <th style="width: 48%;"></th>
                        <th style="width: 26%;text-align: center;">MTD</th>
                        <th style="width: 26%;text-align: center;">QTD</th>
                    </tr>
                    <tr>
                        <th style="width: 48%;">Target</th>
                        <td style="width: 26%; text-align: center;">{{ row.Target_MTD | format_thousands }}</td>
                        <td style="width: 26%; text-align: center;">{{ row.Target_QTD | format_thousands}}</td>
                    </tr>
                    <tr>
                        <th style="width: 48%;">Actual Sales</th>
                        <td style="width: 26%; text-align: center;">{{ row.Sales_MTD | format_thousands}}</td>
                        <td style="width: 26%; text-align: center;">{{ row.Sales_QTD | format_thousands}}</td>
                    </tr>
                    <tr>
                        <th style="width: 48%;">Balance To Go</th>
                        <td style="width: 26%; text-align: center;">{{ row.Balance_MTD | format_thousands }}</td>
                        <td style="width: 26%; text-align: center;">{{ row.Balance_QTD | format_thousands }}</td>
                    </tr>
                    <tr>
                        <th style="width: 48%;">% Achievement</th>
                        <td style="
                            width: 26%;
                            color: 
                                {% if row['%Achievement_MTD'] |int >= 1 %}
                                #68A490
                                {% else %}
                                #F64F5C
                                {% endif %}; 
                            font-weight: bold;
                            text-align: center;
                            ">
                            {{ row['%Achievement_MTD'] | format_decimal_percent}}</td>
                        <td style="
                            width: 26%;
                            color: 
                                {% if row['%Achievement_QTD'] | int >= 1 %}
                                #68A490
                                {% else %}
                                #F64F5C
                                {% endif %}; 
                            font-weight: bold;
                            text-align: center;
                            ">
                            {{ row['%Achievement_QTD']  | format_decimal_percent }}</td>
                    </tr>
                    <tr>
                        <th style="width: 48%;">Team Achievement</th>
                        <td style="
                            width: 26%;
                            color: 
                                {% if row['%Team_Achievement_MTD'] |int >= 1 %}
                                #68A490
                                {% else %}
                                #F64F5C
                                {% endif %}; 
                            font-weight: bold;
                            text-align: center;
                            ">
                            {{ row['%Team_Achievement_MTD'] | format_decimal_percent}}</td>
                        <td style="
                            width: 26%;
                            color: 
                                {% if row['%Team_Achievement_QTD'] | int >= 1 %}
                                #68A490
                                {% else %}
                                #F64F5C
                                {% endif %}; 
                            font-weight: bold;
                            text-align: center;
                            ">
                            {{ row['%Team_Achievement_QTD']  | format_decimal_percent }}</td>
                    </tr>
                </table>

            </div>
            <div class="column-item" id="column-3">
                <h2>Calls KPIs</h2>
                <table class="column-3-table">
                    <tr>
                        <th></th>
                        <th style="text-align: center;">MTD</th>
                        <th style="text-align: center;">QTD</th>
                        <th style="text-align: center;">YTD</th>
                    </tr>
                    <tr>
                        <th>Call Rate</th>
                        <td style="
                        background-color: 
                            {% set expected_rate = country_call_rates[row.Country] %}
                            {% set call_rate_mtd = row.Call_Rate_MTD | float %}
                            {% if call_rate_mtd >= expected_rate %}
                            #68A490
                            {% elif expected_rate - call_rate_mtd <= expected_rate * 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: white;
                        text-align: center;">
                            {{ row.Call_Rate_MTD | format_one_decimal }}
                        </td>
                        <td style="
                        background-color: 
                            {% set expected_rate = country_call_rates[row.Country] %}
                            {% set call_rate_qtd = row.Call_Rate_QTD | float %}
                            {% if call_rate_qtd >= expected_rate %}
                            #68A490
                            {% elif expected_rate - call_rate_qtd <= expected_rate * 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: white;
                        text-align: center;">
                        {{ row.Call_Rate_QTD | format_one_decimal}}
                        </td>
                        <td style="
                        background-color: 
                            {% set expected_rate = country_call_rates[row.Country] %}
                            {% set call_rate_ytd = row.Call_Rate_YTD | float %}
                            {% if call_rate_ytd >= expected_rate %}
                            #68A490
                            {% elif expected_rate - call_rate_ytd <= expected_rate * 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: white;
                        text-align: center;">
                            {{ row.Call_Rate_YTD | format_one_decimal}}
                        </td>
                    </tr>
                    <tr>
                        <th>% Call Volume</th>
                        <td style="
                        background-color: 
                            {% if row.Call_Volume_MTD | float >= 0.95 %}
                            #68A490
                            {% elif 95 - row.Call_Volume_MTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Volume_MTD | int >= 0.95 %}
                            white
                            {% elif 95 - row.Call_Volume_MTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Volume_MTD | format_percent }}
                        </td>
                        <td style="
                        background-color: 
                            {% if row.Call_Volume_QTD | int >= 0.95 %}
                            #68A490
                            {% elif 95 - row.Call_Volume_QTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Volume_QTD | int >= 0.95 %}
                            white
                            {% elif 95 - row.Call_Volume_QTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Volume_QTD | format_percent }}
                        </td>
                        <td style="
                        background-color: 
                            {% if row.Call_Volume_YTD | int >= 0.95 %}
                            #68A490
                            {% elif 95 - row.Call_Volume_YTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Volume_YTD | int >= 0.95 %}
                            white
                            {% elif 95 - row.Call_Volume_YTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Volume_YTD | format_percent }}
                        </td>
                    </tr>
                    <tr>
                        <th>% Call Compliance</th>
                        <td style="
                        background-color: 
                            {% if row.Call_Compliance_MTD | int >= 0.80 %}
                            #68A490
                            {% elif 80 - row.Call_Compliance_MTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Compliance_MTD | int >= 0.80 %}
                            white
                            {% elif 80 - row.Call_Compliance_MTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Compliance_MTD | format_percent }}
                        </td>
                        <td style="
                        background-color: 
                            {% if row.Call_Compliance_QTD | int >= 0.80 %}
                            #68A490
                            {% elif 80 - row.Call_Compliance_QTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Compliance_QTD | int >= 0.80 %}
                            white
                            {% elif 80 - row.Call_Compliance_QTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Compliance_QTD | format_percent }}
                        </td>
                        <td style="
                        background-color: 
                            {% if row.Call_Compliance_YTD | int >= 0.80 %}
                            #68A490
                            {% elif 80 - row.Call_Compliance_YTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Compliance_YTD | int >= 0.80 %}
                            white
                            {% elif 80 - row.Call_Compliance_YTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Compliance_YTD | format_percent }}
                        </td>
                    </tr>
                    <tr>
                        <th>% Call Compliance A</th>
                        <td style="
                        background-color: 
                            {% if row.Call_Compliance_A_MTD | int >= 0.90 %}
                            #68A490
                            {% elif 90 - row.Call_Compliance_A_MTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Compliance_A_MTD | int >= 0.90 %}
                            white
                            {% elif 90 - row.Call_Compliance_A_MTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Compliance_A_MTD | format_percent }}
                        </td>
                        <td style="
                        background-color: 
                            {% if row.Call_Compliance_A_QTD | int >= 0.90 %}
                            #68A490
                            {% elif 90 - row.Call_Compliance_A_QTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Compliance_A_QTD | int >= 0.90 %}
                            white
                            {% elif 90 - row.Call_Compliance_A_QTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Compliance_A_QTD | format_percent }}
                        </td>
                        <td style="
                        background-color: 
                            {% if row.Call_Compliance_A_YTD | int >= 0.90 %}
                            #68A490
                            {% elif 90 - row.Call_Compliance_A_YTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Call_Compliance_A_YTD | int >= 0.90 %}
                            white
                            {% elif 90 - row.Call_Compliance_A_YTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;">
                            {{ row.Call_Compliance_A_YTD | format_percent }}
                        </td>
                    </tr>
                </table>

            </div>

            <div class="column-item" id="column-4">
                <h2>Sales by Product Bucket</h2>
                <table class="column-5-table" style="width:99%;padding-bottom: 5px;">
                    <thead>
                        <tr>
                            <th>Product Group</th>
                            <th style="text-align: center;">MTD</th>
                            <th style="text-align: center;">QTD</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        {% for product in product_filtered %}                        
                        <tr>
                            <td>{{ product.Product_Group_Use }}</td>
                            <td style="text-align: center; padding: 0; position: relative;">
                                <span style="position: relative; z-index: 1;">
                                    {{ product.Product_MTD | format_thousands }}
                                </span>
                                <div style="background-color: #68A490; height: 100%; width: {{ product.Product_Percent_MTD * 100 }}%; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center;">
                                </div>
                            </td>
                            <td style="text-align: center; padding: 0; position: relative;">
                                <span style="position: relative; z-index: 1;">
                                    {{ product.Product_QTD | format_thousands }}
                                </span>
                                <div style="background-color: #68A490; height: 100%; width: {{ product.Product_Percent_QTD * 100 }}%; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center;">
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                        <tr>
                            <td style="font-weight: bold;">Total:</td>
                            <td style="font-weight: bold; text-align: center;">{{ product_filtered[0].Product_Total_MTD | format_thousands }}</td>
                            <td style="font-weight: bold; text-align: center;">{{ product_filtered[0].Product_Total_QTD | format_thousands  }}</td>
                        </tr>

                    </tbody>
                </table>
            </div> 

            <div class="column-item" id="column-5">
                <h2>Sales-led Activities</h2>
                <table class="column-5-table">
                    <tr>
                        <th></th>
                        <th style="text-align: center;">MTD</th>
                        <th style="text-align: center;">QTD</th>
                        <th style="text-align: center;">YTD</th>
                    </tr>
                    <tr>
                        <th># Events</th>
                        <td style="text-align: center;">{{ row.Event_MTD | format_thousands }}</td>
                        <td style="text-align: center;">{{ row.Event_QTD | format_thousands }}</td>
                        <td style="text-align: center;">{{ row.Event_YTD | format_thousands }}</td>
                    </tr>
                    <tr>
                        <th># Touchpoint</th>
                        <td style="text-align: center;">{{ row.Touchpoint_MTD | format_thousands }}</td>
                        <td style="text-align: center;">{{ row.Touchpoint_QTD | format_thousands }}</td>
                        <td style="text-align: center;">{{ row.Touchpoint_YTD | format_thousands }}</td>
                    </tr>
                </table>

                <h2>Triggered Emails</h2>
                <table class="column-5-table">
                    <tr>
                        <th></th>
                        <th style="text-align: center;">MTD</th>
                        <th style="text-align: center;">QTD</th>
                        <th style="text-align: center;">YTD</th>
                    </tr>
                    <tr>
                        <th># Email Sent</th>
                        <td style="text-align: center;">{{ row.Email_Sent_MTD | format_thousands }}</td>
                        <td style="text-align: center;">{{ row.Email_Sent_QTD | format_thousands }}</td>
                        <td style="text-align: center;">{{ row.Email_Sent_YTD | format_thousands }}</td>
                    </tr>
                    <tr>
                        <th>% Email Open Rate</th>
                        <td style="
                        background-color: 
                            {% if row.Mail_Open_Rate_MTD | int >= 0.30 %}
                            #68A490
                            {% elif 30 - row.Mail_Open_Rate_MTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Mail_Open_Rate_MTD | int >= 0.30 %}
                            white
                            {% elif 30 - row.Mail_Open_Rate_MTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;
                    ">
                            {{ row.Mail_Open_Rate_MTD  | format_percent}}
                        </td>
                        <td style="
                        background-color: 
                            {% if row.Mail_Open_Rate_QTD | int >= 0.30 %}
                            #68A490
                            {% elif 30 - row.Mail_Open_Rate_QTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Mail_Open_Rate_QTD | int >= 0.30 %}
                            white
                            {% elif 30 - row.Mail_Open_Rate_QTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;
                    ">
                            {{ row.Mail_Open_Rate_QTD  | format_percent}}
                        </td>
                        <td style="
                        background-color: 
                            {% if row.Mail_Open_Rate_YTD | int >= 0.30 %}
                            #68A490
                            {% elif 30 - row.Mail_Open_Rate_YTD | int <= 0.05 %}
                            #EAC282
                            {% else %}
                            #F64F5C
                            {% endif %}; 
                        color: 
                            {% if row.Mail_Open_Rate_YTD | int >= 0.30 %}
                            white
                            {% elif 30 - row.Mail_Open_Rate_YTD | int <= 0.05 %}
                            black
                            {% else %}
                            white
                            {% endif %};
                        text-align: center;
                    ">
                            {{ row.Mail_Open_Rate_YTD  | format_percent}}
                        </td>
                    </tr>
                    <tr>
                        <th>% Click-through Rate</th>
                        <td style="text-align: center;">{{row.Clickrate_MTD | format_percent}}</td>
                        <td style="text-align: center;">{{row.Clickrate_QTD | format_percent}}</td>
                        <td style="text-align: center;">{{row.Clickrate_YTD | format_percent}}</td>
                    </tr>
                </table>

                <h2>Coaching</h2>
                <table class="column-3-table">
                    <tr>
                        <th></th>
                        <th style="text-align: center;">MTD</th>
                        <th style="text-align: center;">QTD</th>
                        <th style="text-align: center;">YTD</th>
                    </tr>
                    <tr>
                        <th>Coaching (#Days)</th>
                        <td style="text-align: center;">{{row.Coaching_MTD | format_integer }}</td>
                        <td style="text-align: center;">{{row.Coaching_QTD | format_integer }}</td>
                        <td style="text-align: center;">{{row.Coaching_YTD | format_integer }}</td>
                    </tr>
                </table>

            </div>

            <div class="column-item" id="column-6">
                <h2>Sales by Customer / Account</h2>
                <table class="column-5-table">
                    <tr>
                        <th>Customer Name</th>
                        <th style="text-align: center;">MTD</th>
                        <th style="text-align: center;">QTD</th>
                    </tr>
                    {% for customer in customer_filtered %}                        
                    <tr>
                        <td>{{ customer.Customer_Name }}</td>
                        <td style="text-align: center; padding: 0; position: relative;">
                            <span style="position: relative; z-index: 1;">
                                {{ customer.Customer_MTD | format_thousands }}
                            </span>
                            <div style="background-color: #68A490; height: 100%; width: {{ customer.Customer_Percent_MTD * 100 }}%; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center;">
                            </div>
                        </td>
                        <td style="text-align: center; padding: 0; position: relative;">
                            <span style="position: relative; z-index: 1;">
                                {{ customer.Customer_QTD | format_thousands }}
                            </span>
                            <div style="background-color: #68A490; height: 100%; width: {{ customer.Customer_Percent_QTD * 100 }}%; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center;">
                            </div>
                        </td>
                    </tr>
                    {% endfor %} 
                    <tr>
                        <td style="font-weight: bold;">Total:</td>
                        <td style="font-weight: bold; text-align: center;">{{ customer_filtered[0].Customer_Total_MTD | format_thousands }}</td>
                        <td style="font-weight: bold; text-align: center;">{{ customer_filtered[0].Customer_Total_QTD | format_thousands }}</td>
                    </tr>

                </table>
            </div>

            <div class="column-item" id="column-7">
                <table style="width:99%;padding-bottom: 5px;">
                    <thead>
                        <tr>
                            <th>Rep Name</th>
                            <th>HCP ID</th>
                            <th>HCP Name</th>
                            <th>Segment</th>
                            <th>Actual Call</th>
                            <th>Month Target</th>
                            <th>Quarter Target</th>
                            <th>Compliance?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in hcp_filtered %}
                        <tr>
                            <td>{{ item.Owner_Name }}</td>
                            <td>{{ item.HCP_ID }}</td>
                            <td>{{ item.HCP_Name }}</td>
                            <td>{{ item.HCP_Segment }}</td>
                            <td>{{ item.HCP_Actual_Call }}</td>
                            <td>{{ item.HCP_Target_MTD | format_integer }}</td>
                            <td>{{ item.HCP_Target_QTD }}</td>
                            <td>{{ item.HCP_Compliance }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            </div>
                <div class="footer">
                    &copy; 2024 Unity Project | ZP Therapeutics. All rights reserved.
                </div>
            </div> 

            <script>
                function getColor(value) {
                    if (value < 100) {
                        return '#ff6f6f'; // red
                    } else {
                        return '#6fbf73'; // green
                    }
                }

                function convertToPercentageString(num) {
                    return num.toFixed(2) + '%';
                }

                function createGaugeChart(ctx, value, text) {
                    const cappedValue = Math.min(value, 100);
                    const color = getColor(value);
                    return new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            datasets: [{
                                data: [cappedValue, 100 - cappedValue],
                                backgroundColor: [color, '#f5f5f5'],
                                borderWidth: 0
                            }]
                        },
                        options: {
                            responsive: true,
                            cutout: '80%',
                            rotation: -90,
                            circumference: 180,
                            plugins: {
                                tooltip: { enabled: false },
                                legend: { display: false }
                            }
                        },
                        plugins: [{
                            id: 'textPlugin',
                            afterDatasetsDraw: (chart, easing) => {
                                const ctx = chart.ctx;
                                ctx.save();
                                const x = chart.chartArea.left + (chart.chartArea.right - chart.chartArea.left) / 2;
                                const y = chart.chartArea.top + (chart.chartArea.bottom - chart.chartArea.top) / 1.4;
                                ctx.font = '16px Arial';
                                ctx.fillStyle = '#000';
                                ctx.textAlign = 'center';
                                ctx.fillText(text, x, y);
                                ctx.restore();
                            }
                        }]
                    });
                }

                const ctxMTD = document.getElementById('gaugeChartMTD').getContext('2d');
                const ctxQTD = document.getElementById('gaugeChartQTD').getContext('2d');

                const mtdValue = "{{ row['%Achievement_MTD'] | format_decimal_percent}}";
                const qtdValue = "{{ row['%Achievement_QTD'] | format_decimal_percent }}";

                function convertPercentageToNumber(percentageString) {
                    // Remove the '%' character and convert the string to a number
                    let number = parseFloat(percentageString.replace('%', ''));
                    return number;
                }

                createGaugeChart(ctxMTD, convertPercentageToNumber(mtdValue), mtdValue);
                createGaugeChart(ctxQTD, convertPercentageToNumber(qtdValue), qtdValue);
            </script>

</body>

</html>